<!-- Location -->
<section class="location text-light py-5">
    <div class="container" data-aos="zoom-in">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-center">
                <div class="p-2"><i class="far fa-map fa-3x"></i></div>
                <div class="ms-2">
                    <h6>{{ 'configuration.contact.fields.adresse.title' | trans }}</h6>
                    <p>{{ 'configuration.contact.fields.adresse.value' | trans }}</p>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center" >
                <div class="p-2"><i class="fas fa-mobile-alt fa-3x"></i></div>
                <div class="ms-2">
                    <h6>{{ 'configuration.contact.fields.phone.title' | trans }}</h6>
                    <p>{{ 'configuration.contact.fields.phone.value' | trans }}</p>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center" >
                <div class="p-2"><i class="far fa-envelope fa-3x"></i></div>
                <div class="ms-2">
                    <h6>{{ 'configuration.contact.fields.email.title' | trans }}</h6>
                    <p>{{ 'configuration.contact.fields.email.value' | trans }}</p>
                </div>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of location -->